<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50173698522-71p8kqhs0ehnb9bjt0pfv4b3lubng937.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50173698522-71p8kqhs0ehnb9bjt0pfv4b3lubng937</string>
	<key>API_KEY</key>
	<string>AIzaSyB80IIz7zTeacB67WawblNMSrDRLzYqwzI</string>
	<key>GCM_SENDER_ID</key>
	<string>50173698522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobsec.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mobsec-b45c7</string>
	<key>STORAGE_BUCKET</key>
	<string>mobsec-b45c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50173698522:ios:945cfc98f94f4b909f60e3</string>
</dict>
</plist>